.card {
  position: relative;
  --duration: 0.2s;
}
.card img {
  width: 100%;
  display: block;
  /* border: 1px solid #F7E2CB; */
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in var(--duration);
  position: absolute;
  height: 100%;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: var(--duration);
  background-position: center;
  background-repeat: no-repeat;

}

.flipped .front,
.card .back {
  border-radius: 4px;
  box-shadow: 1px 2px 5px #1e1e1e; 
}
.card .back {
  transition: all ease-out var(--duration);
  transition-delay: var(--duration);
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}


@media (max-width: 600px) {
  .card .front {
    font-size: 1rem;
  }
}