@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');


.web-title {
  font-family: 'Qwitcher Grypen';
  font-size: 6rem;
  text-shadow: 10px 10px 30px #ff01cc;
  margin-bottom: 0px;
}

.App {
  height: 100vh;
  max-width: 860px;
  margin: 40px auto 0;
  padding: 0 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/img/skyline.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;

}
button {
  font-family: 'Dancing Script';
  font-size: 2rem;
  text-shadow: 10px 10px 30px #ff01cc;
  background: none;
  padding: 6px 12px;
  margin-bottom: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  color:  #ff01cc;
}
.turns {
  font-size: 1.4rem;
  margin-top: 20px;
  text-shadow: 2px 2px 2px #000, -2px -1px 3px #000;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}


#canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}


@media (max-width: 600px) {
  .web-title {
    font-size: 4rem;
  }
  button {
    font-size: 1.4rem;
  }
}

@media (min-height: 840px) {
  /* .App {
    background-image: url('../public/img/skyline.png');
  } */
  .web-title {
    margin-bottom: 60px;
  }
  button {
    margin-bottom: 40px;
  }
}