@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.web-title {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  text-shadow: 10px 10px 30px #000000;
  margin-top: 100px;
  color: #fff;
}


.App {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.level {
  display: flex;
  justify-content: center;
  gap:50px
}
.turns {
  font-size: 26px;
  margin-right: 0px;
  text-shadow: 2px 2px 2px #000;
  align-self: end;
  margin-bottom: 10px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}



@media (max-width: 600px) {
  .web-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .turns {
    margin-top: 20px;
    font-size: 20px;
  }
  .card-grid {
    grid-gap: 3px;
  }
}
