@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
.web-title {
  font-family: 'Qwitcher Grypen';
  font-size: 6rem;
  text-shadow: 10px 10px 30px #ff01cc;
  margin-top: 40px;
}


.App {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.level {
  display: flex;
  justify-content: center;
  gap:50px
}
.turns {
  font-size: 1.5rem;
  margin-right: 0px;
  text-shadow: 2px 2px 2px #000;
  align-self: end;
  margin-bottom: 10px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}



@media (max-width: 600px) {
  .web-title {
    font-size: 4rem;
  }
  button {
    font-size: 1.4rem;
  }
}

@media (min-height: 840px) {
  .web-title {
    margin-bottom: 60px;
  }

}